h2.color-title{
    font-weight: normal;
}

#red{
    color: red;
}
#blue{
    color: blue;
}
#orange{
    color: orange;
}
#green{
    color: Green;
}
#yellow{
    color: yellow;
}

img{
    width: 150px;
    height: 150px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
}